# Ignore the build and dist directories
build
dist

# Keep the local copy of the ArcGIS JS API in git
!/build/vendor/arcgis-api/**/*

# Ignore these, just do it
arcgis-modules.txt
node_modules
.DS_Store
*.log
*.swp

#pycharm
.idea/
