@require 'variables'
@require 'map'
@require 'layerTransparency'
@require 'infoWindow'
@require 'analysisPanel'
@require 'documentsPanel'
@require 'results'
@require 'modal'
@require 'printDijit'
@require 'reportSubButtons'
@require 'basemapLayer'
@require 'search'
@require 'mobileMenu'
