.layer-basemap.selected
  background $selectionGray
.layer-basemap
  border-top 1px solid $lightGray
  line-height 50px
  cursor pointer
  &:first-child
    border 0
  .layer-basemap-icon
    display inline-block
    width 44px
    height 44px
    border-radius 25px
    margin 10px 10px 10px 0
    vertical-align middle
    img
      width: 44px
      height 44px
      border-radius 22px
  .layer-basemap-label
    display inline-block
    font-size 14px
    vertical-align middle
  .landsat
    background url($landsatSprite) no-repeat
    background-position 0 -352px
  .relative
    display inline-block
  select
    -webkit-appearance none
    position absolute
    height 100%
    width 100%
    opacity 0
    left 0
    top 0
    &:hover + div
      background darken(white, 10%)
  select + div
    display inline-block
    margin-left 1em
