*
*:before
*:after
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-font-smoothing antialiased
  box-sizing border-box

ul
ol
  vertical-align baseline
  list-style-type none
  padding 0
  margin 0
  border 0

h1, h2, h3, h4, h5, h6
  padding 0
  margin 0

.map-component
  position absolute
  z-index 5

.relative
  position relative

.hidden
  display none !important

.pointer
  cursor pointer

.custom-scroll::-webkit-scrollbar
  height 8px
  width 8px

.custom-scroll::-webkit-scrollbar-thumb
  background #888
  border-radius 0

.shadow
  box-shadow 0px 1px 2px $boxShadow

.flex
  display flex

.svg-icon
  fill $darkGray
  display block
  margin auto
  height 25px
  width 25px

.fa-button
  transition background 0.15s linear
  border-radius 35px
  text-align center
  line-height 36px
  cursor pointer
  padding 0 15px
  color white
  height 36px
  &.sml
    line-height 24px
    font-size 10px
    height 24px
  &.gold
    background-color $goldTheme
  &.gold:hover
  &.gold.active
    background-color darken($goldTheme, 10%)
  &.white
    border 1px solid $goldTheme
    background white
    color $darkGray
    &:hover
      background darken(white, 10%)

.mobile-hide
  display none

.mobile-show
  display block

@media (min-width: $mobileBreak)
  .mobile-hide
    display block
  .mobile-show
    display none
