$fontFamily = "Fira Sans", Georgia, sans-serif

//- Component Sizes
$tabViewWidth = 300px
$headerHeight = 50px
$mobileBreak = 950px
//- COLORS
//- Theme colors
$goldTheme = #F0AB00
//- Font colors
$grayFont = #6F6F6F
//- Highlight colors
$lightGrayHighlight = #EEE
//- Regular colors
$lightGray = #AAA
$darkGray = #555
$selectionGray = #f2f2f2
// Sharing colors
$facebookBlue = #36589F
$twitterBlue = #568DCE
$googleRed = #D9502B
$landsatSprite = 'http://www.globalforestwatch.org/assets/basemaps-s84b6feb159-b5c7519937c9732128e8b42b5865e7c2.png'
