.control-panel
  background white
  top 20px
  right 20px
  width 76px

.control-panel__list
  flex-wrap wrap
  display flex
  padding 0
  margin 0
  & li
    box-sizing border-box
    display flex
    height 38px
    width 38px
  & li:active
    background $lightGrayHighlight
  & li:hover
    background $lightGrayHighlight
  & li.mobile-show
    display none

.control-panel__print .svg-icon
.control-panel__draw-upload .svg-icon
  height 21px
  width 21px

@media (min-width: $mobileBreak)
  .control-panel__list
    border-bottom 1px solid $lightGray
    & li
      border-right 1px solid $lightGray
      border-top 1px solid $lightGray
    & li:nth-child(odd)
      border-left 1px solid $lightGray


@media (max-width: $mobileBreak)
  .control-panel
    width 38px
    bottom 70px
    top auto

  .control-panel__list
    & li
      border-bottom 1px solid $lightGray
    & li.mobile-show
      display flex
    & li.mobile-hide
      display none
