.documents-panel
  color $grayFont
  overflow-y auto
  padding 10px
  height 100%

.documents-instructions
.documents-unavailable
  text-align center
  padding 10px

.documents-feature-title
  border-bottom 1px solid $lightGray
  font-weight normal
  padding 0
  margin 0

.documents-table__link .svg-icon
  fill $goldTheme
  height 16px
  width 16px

.documents-table
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  max-width 175px
