.footer-info
  background rgba(230, 230, 230, 0.75)
  position absolute
  height 40px
  width 100%
  z-index 5
  bottom 0
  left 0

.footer-info_coords
  position absolute
  font-size 12px
  bottom 22px
  right 20px

@media (max-width: $mobileBreak)
  .footer-info
    bottom 50px
  .esriControlsBR
    bottom 55px !important

.esriControlsBR
  right 11px !important
  z-index 5 !important
  
.esriAttribution
  background none !important
  font-size 12px !important