.footer-info
  background rgba(230, 230, 230, 0.75)
  position absolute
  height 40px
  width 100%
  z-index 10
  bottom 0
  left 0

.footer-info_coords
  position absolute
  font-size 12px
  bottom 9px
  right 20px

@media (max-width: $mobileBreak)
  .footer-info
    bottom 50px
