$path = $version + '/css/fonts/';

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.tff') format('ttf'),
         url('fonts/firasans-regular-webfont.woff') format('woff'),
         url('fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('firasans-bold-webfont.tff') format('ttf'),
         url('firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
