.app-header__title-container
  padding-top 5px

.app-header__title
  text-transform uppercase
  line-height 25px
  font-size 20px

.app-header__subtitle
  line-height 15px
  font-size 14px

.app-header__logo-container
  padding 5px 10px 5px 20px

.app-header__logo
  height 40px
