.app-header__title-container
  overflow hidden
  padding-top 5px

.app-header__title
  text-transform uppercase
  text-overflow ellipsis
  white-space nowrap
  line-height 25px
  overflow hidden
  font-size 20px

.app-header__subtitle
  text-overflow ellipsis
  white-space nowrap
  line-height 15px
  overflow hidden
  font-size 14px

.app-header__logo-container
  padding 5px 10px 5px 20px

.app-header__logo
  height 60px
