.infoWindow
  color $darkGray
  height 100%

  .feature-name
    border-bottom 1px solid #888
    font-weight bold

  .feature-controls
  .feature-name
    box-sizing content-box
    padding 3px 10px

  .source-row dt
  .source-row dd
    font-size 12px
    text-transform none

  .attribute-display
    overflow-y auto
    flex-grow 1
    p
      padding 0 10px

  .arrow
    cursor pointer
    float right
  .arrow.right
    margin-left 1em;
  .arrow.disabled
    color $lightGray
    cursor default

  .actions
    button
      background $goldTheme
      border 0
      border-radius 12px
      box-sizing border-box
      color #fff
      margin 2% 5%
      padding 2% 0
      text-transform uppercase
      width 40%

.infoWindow__content
  flex-direction column
  position absolute
  display flex
  bottom 56px
  width 100%
  left 0
  top 0

.infoWindow__instructions
  padding 10px

.infoWindow__footer
  position absolute
  width 100%
  bottom 0
  left 0
