.infoWindow
  color $darkGray
  height 100%

  .layer-name
  .feature-controls
    height 30px
    padding 6px 10px

  .layer-name
    border-bottom 1px solid #888
    font-weight bold

  .source-row dt
  .source-row dd
    font-size 16px
    text-transform none

  .attribute-display
    height calc(100% - 100px)
    max-height calc(100% - 100px)
    overflow-y auto

  .arrow
    cursor pointer
    float right
  .arrow.right
    margin-left 1em;
  .arrow.disabled
    color $lightGray
    cursor default

  .actions
    button
      background $goldTheme
      border 0
      border-radius 12px
      box-sizing border-box
      color #fff
      margin 2% 5%
      padding 2% 0
      text-transform uppercase
      width 40%
