html
body
#root
.root
  font-family $fontFamily
  position relative
  overflow hidden
  min-height 100%
  height 100%
  width 100%
  padding 0
  margin 0

.app-header
  position absolute
  box-sizing border-box
  height $headerHeight
  display flex
  width 100%
  left 0
  top 0

.map-container
  position absolute
  top $headerHeight
  bottom 0
  right 0
  left 0

@media (max-width: $mobileBreak)
  .map-container
    top 0
  .app-header
    display none
