.legend-panel
  flex-direction column
  overflow-y auto
  display flex
  background #fff
  bottom 50px
  color $darkGray
  max-height 50%
  padding 5px
  right 20px
  // transition width 0.5s ease-in-out
  width 300px

.legend-title
  cursor pointer
  height 25px
  text-transform uppercase
  width 100%
  span:nth-child(1)
    display inline-block
    padding-right 0.5em

.legend-collapsed
  cursor pointer
  width 100px
  overflow-y hidden

.legend-layers
  overflow-y auto

.esriLegendServiceLabel
  font-size 15px

.esriLegendLayer
  font-size 13px

.legend-row
  display flex

.legend-label
  margin-left 10px
  font-size 13px
  margin-top 2px

@media (max-width: $mobileBreak)
  .legend-panel
    transition bottom 0.5s ease-in-out
    max-height none
    height 300px
    width 100%
    bottom 50px
    z-index 6
    right 0
    &.legend-collapsed
      bottom -310px

  #legend
  .legend-layers
    height 100%

  .legend-close
    position absolute
    height 25px
    width 25px
    z-index 10
    right 20px
    top 20px
