.mobile-menu
  overflow-y auto
  padding 10px
  height 100%

.mobile-menu__logo
  margin 10px 0
  height 60px

.mobile-menu__title
.mobile-menu__logo-container
  text-transform uppercase
  text-align center

.mobile-menu__subtitle
  text-align center

.mobile-menu__title-container
  border-bottom 1px solid $lightGray
  padding-bottom 20px

.mobile-menu__nav
  flex-direction column
  display flex

.mobile-menu__nav-list
  text-align center

.mobile-menu__nav-link
  border-bottom 1px solid $lightGray
  color $grayFont
  font-size 18px
  padding 5px 0
  & a
    text-decoration none
    color $grayFont

.mobile-menu__nav-link.active
  color $goldTheme
