.app-header__nav
  margin auto 0 auto auto
  display flex

.app-header__nav a
  text-decoration none
  display flex
  color black

.app-header__nav-list
  height $headerHeight
  font-size 12px
  display flex

.svg-icon__nav
  margin auto 4px
  fill $darkGray
  height 16px
  width 16px

.app-header__nav-link:hover .svg-icon__nav
  fill $goldTheme

.app-header__nav-link
  text-transform uppercase
  align-items center
  position relative
  padding 0 5px
  display flex

.app-header__theme-list
.app-header__language-list
  border-top 3px solid $goldTheme
  transform translate(-50%, 0)
  background-color white
  position absolute
  min-width 175px
  display none
  z-index 10
  top $headerHeight - 3px
  left 50%

.app-header__language-list
  min-width 100px

.app-header__nav-link--map-themes:hover .app-header__theme-list
.app-header__nav-link--language:hover .app-header__language-list
    display block

.app-header__theme
.app-header__language
  border-bottom 1px solid $lightGray
  text-align center
  padding 10px

.app-header__language.active
  font-weight bold

@media (max-width: 1000px)
  .app-header__theme-list
    bottom $headerHeight
    box-shadow none
    border-top none
    top auto
