@require 'variables'

html
body
  font-family $fontFamily
  height 100%
  width 100%
  padding 0
  margin 0

@require 'grid'
@require 'base'
@require 'results'

//- Since this CSS is inlined, this will prevent the map from snapping down when
//- the title gets injected
.report-header
  width 100%

.report-header__logo-container
  padding 5px 10px 5px 0

.report-header__logo
  height 60px

.report-header__title-container
  flex-direction column
  align-items center
  display flex
  flex-grow 1

.report-header__title
  text-transform uppercase

.report-header__subtitle
  font-weight normal
  line-height 20px

.feature-title
  min-height 30px
  margin 5px 0

.map
  margin 10px auto
  height 400px
  width 100%

.popup-content
  margin 20px auto
  width 100%

.popup-content dl
.table-container dl
.restoration-table dl
  border 1px solid #AEAEAE
  margin 0 auto
  display table
  width 95%

.popup-content dl:nth-child(odd)
  background $lightGrayHighlight

.popup-content dt
.table-container dt
.restoration-table dt
.popup-content dd
.table-container dd
.restoration-table dd
  display table-cell
  font-size 14px
  padding 5px
  width 50%

.popup-content dt
  font-weight 500

.table-container
  background-color $reportTableBackground
  padding 20px 0
  width 100%
  & dl:nth-child(1)
  & dl:last-child
    font-weight bold
  & dl:nth-child(odd)
    background $reportTableRow
  & dl:nth-child(even)
    background white
  & dt
    width 80%
  & dd
    text-align right
    width 20%

// Restoration Module Styling
.results__restoration
.results__slope
  flex-direction column
  display flex

.results__slope > div
  margin 5px auto

.restoration__module
  flex-direction column
  margin 5px auto
  display flex
  width 100%
  & .restoration__grid:nth-of-type(2)
  & .restoration__description:nth-of-type(2)
    background $reportTableBackground
    padding 10px

.restoration__grid
  justify-content space-between
  flex-flow wrap row
  padding 10px 0
  display flex
  margin 0
  flex 1

.restoration-table
  margin 10px 0
  width 47%
  & dl:nth-of-type(1)
  & dl:last-child
    font-weight bold
  & dl:nth-child(odd)
    background $reportTableRow
  & dl:nth-child(even)
    background white
  & dd
    text-align right

.restoration-table__header
  font-weight normal
  margin-left 2.5%

.restoration__chart
  margin auto 0
  display flex
  height 225px
  width 40%

.chart-container
  width 100%

.restoration__description
.slope__description
  font-weight normal

.restoration__label
  padding 10px 0 0 10px

.restoration__description
  padding 0 10px 10px

@media (max-width: $mobileBreak)
  .restoration-table
  .restoration__chart
    margin 10px auto
    width 90%
  h3
  h4
    margin 0 5px
