.report-sub-buttons
  justify-content center
  align-items center
  display flex

.report-sub-buttons button
  text-transform uppercase
  -webkit-appearance none
  font-weight 500
  margin 10px 5px
  font-size 13px
  padding 0 20px
  outline none
  color white
  border none
  &:active
    box-shadow 0 0 2px $darkGray
