@require 'variables'

html
body
  font-family $fontFamily
  height 100%
  width 100%
  padding 0
  margin 0

@require 'grid'
@require 'base'
@require 'results'

//- Since this CSS is inlined, this will prevent the map from snapping down when
//- the title gets injected
.report-header
  width 100%

.report-header__logo-container
  padding 5px 10px 5px 0

.report-header__logo
  height 60px

.report-header__title-container
  flex-direction column
  align-items center
  display flex
  flex-grow 1

.report-header__title
  text-transform uppercase

.report-header__subtitle
  font-weight normal
  line-height 20px

.feature-title
  min-height 30px
  margin 5px 0

.map
  margin 10px auto
  height 400px
  width 100%

.popup-content
  margin 20px auto
  width 100%

.popup-content dl
.table-container dl
  margin 5px auto
  display table
  width 95%

.popup-content dl:nth-child(odd)
  background $lightGrayHighlight

.popup-content dt
.table-container dt
.popup-content dd
.table-container dd
  display table-cell
  font-size 14px
  padding 5px
  width 50%

.popup-content dt
  font-weight 500

.table-container
  width 100%
  & dl:nth-child(1)
  & dl:last-child
    font-weight bold
  & dt
    width 80%
  & dd
    text-align right
    width 20%

// Restoration Module Styling
.results__restoration
.results__slope
  flex-direction column
  display flex

.results__slope > div
  margin 5px auto

.restoration__module
  flex-direction column
  margin 5px auto
  display flex
  width 100%

.restoration__grid
  flex-flow wrap row
  margin 10px 0
  display flex
  flex 1

.restoration__chart
  display flex
  height 225px
  margin auto
  width 40%

.chart-container
  width 100%

.analysis-description
  font-weight normal
