@require 'config'

html
body
  font-family $fontFamily
  height 100%
  width 100%
  padding 0
  margin 0

@require 'grid'
@require 'base'
@require 'results'

//- Since this CSS is inlined, this will prevent the map from snapping down when
//- the title gets injected
.report-header
  height $headerHeight
  width 100%

.report-header__logo-container
  padding 5px 10px 5px 0

.report-header__logo
  height 40px

.report-header__title-container
  flex-direction column
  display flex

.report-header__title
  text-transform uppercase
  line-height 30px
  font-size 20px

.report-header__subtitle
  line-height 20px
  font-size 14px

.feature-title
  min-height 30px
  margin 5px 0

.map
  margin 10px auto
  height 400px
  width 100%

.popup-content
  margin 20px auto
  width 100%

.popup-content dl
  margin 5px auto
  display table
  width 95%

.popup-content dl:nth-child(odd)
  background $lightGrayHighlight

.popup-content dt
.popup-content dd
  display table-cell
  font-size 14px
  padding 5px
  width 50%

.popup-content dt
  font-weight 500
