//- Modal Overrides for Search Specific Implementation
.search-modal-container
  .modal
    width 390px
  .modal-content
    overflow visible

//- Esri Overrides
.arcgisSearch
  .searchBtn
  .searchInput
    outline none
  .showSources .sourcesMenu
  .showSuggestions .suggestionsMenu
    max-height 175px

.search__info-window-callout
  font-weight bold
  font-size 14px
  padding 0 10px
