.tab-buttons
  width $tabViewWidth
  background white
  left 20px
  top 20px

.tab-buttons__header
  display flex

.tab-buttons__tab
  border-left 1px solid $lightGray
  background $lightGrayHighlight
  justify-content center
  flex-direction column
  align-items center
  display flex
  height 40px
  flex-grow 1
  &.mobile-show
    display none

.tab-buttons__tab:active
.tab-buttons__tab:hover
  background white

.tab-buttons__tab.active
  background white

.tab-buttons__header .tab-buttons__tab:first-child
  border-left none

//- Mobile Styling
.tab-buttons__tab-label
  text-transform uppercase
  font-size 10px
  padding 1px 0

@media (max-width: $mobileBreak)
  .tab-buttons .svg-icon
    margin-top 5px

  .tab-buttons
    z-index 10
    width 100%
    bottom 0
    top auto
    left 0

  .tab-buttons__tab
    border-top 1px solid $lightGray
    height 50px
    &.mobile-show
      display flex
