.tab-buttons
  width $tabViewWidth
  background white
  left 20px
  top 100px

.tab-buttons__header
  display flex

.tab-buttons__tab
  border-left 1px solid $lightGray
  background $lightGrayHighlight
  transition all 0.15s easeinout
  justify-content center
  flex-direction column
  align-items center
  display flex
  height 40px
  flex-grow 1
  &.mobile-show
    display none

.tab-buttons__tab:active
.tab-buttons__tab:hover
  background white

.tab-buttons__tab.active
  background white

.tab-buttons__tab.animate-pulse
  & .svg-icon
    animation-name animate-pulse
    animation-iteration-count infinite
    animation-duration 1000ms
    // fill $goldTheme
  &:after
    background $goldTheme
    border-radius 50%
    margin-bottom 1px
    position absolute
    content " "
    height 5px
    width 5px
    right 3px
    top 3px

@keyframes animate-pulse
  0%
    transform scale(1)
  10%
    transform scale(0.95)
  20%
    transform scale(0.9)
  30%
    transform scale(0.85)
  40%
    transform scale(0.8)
  50%
    transform scale(0.75)
  60%
    transform scale(0.8)
  70%
    transform scale(0.85)
  80%
    transform scale(0.9)
  90%
    transform scale(0.95)
  100%
    transform scale(1)

.tab-buttons__header .tab-buttons__tab:first-child
  border-left none

//- Mobile Styling
.tab-buttons__tab-label
  text-transform uppercase
  font-size 10px
  padding 1px 0

.tab-tooltip
  box-shadow 0 1px 3px $boxShadow
  transform translate(-50%, 0px)
  background $tooltipBackground
  transition all 0.25s linear
  text-transform uppercase
  position absolute
  visibility hidden
  padding 4px 6px
  font-weight 400
  font-size 12px
  z-index 1000
  bottom 100%
  opacity 0
  left 50%

.tab-tooltip:after
  border-color transparent $lightGrayHighlight $lightGrayHighlight transparent
  transform translate(-50%, 50%) rotate(45deg)
  background $tooltipBackground
  border-width 0 1px 1px 0
  border-style solid
  position absolute
  display block
  content ""
  height 8px
  width 8px
  bottom 0
  left 50%

.tab-buttons__tab:hover .tab-tooltip
  visibility visible
  opacity 1

.tab-icon-narrative
  height 20px
  width 20px

@media (max-width: $mobileBreak)
  .tab-buttons .svg-icon
    margin-top 7px

  .tab-buttons
    z-index 10
    width 100%
    bottom 0
    top auto
    left 0

  .tab-buttons__tab
    border-top 1px solid $lightGray
    height 50px
    &.mobile-show
      display flex
