.tab-view
  width $tabViewWidth
  overflow-y auto
  background #FFF
  bottom 20px
  left 20px
  top 110px
  // Value to subtract should be top position plus 20px for padding on bottom
  // max-height calc(100% - 80px)
  /* IE10+ CSS styles go here */
  // @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  //   max-height 75%

.tab-view__content
  overflow-y auto
  display none
  height 100%

.tab-view__content.selected
  flex-direction column
  display flex

@media (max-width: $mobileBreak)
  .tab-view
    box-shadow none
    max-height none
    bottom 50px
    width 100%
    left 0
    top 0

  .tab-view__mobile-header
    border-bottom 1px solid $lightGray
    font-weight 400
    font-size 2em
    padding 10px
    margin 0
