$fontFamily = "Fira Sans", Georgia, sans-serif

//- Component Sizes
$tabViewWidth = 300px
$headerHeight = 50px
$mobileBreak = 950px

//- COLORS

//- Theme colors
$goldTheme = #F0AB00
$errorRed = #FF0800
$tooltipBackground = #FFFEE2
$boxShadow = rgba(85,85,85,0.25)

//- Layer & Additional colors
$disabledFont = #afaeae
$disabledBackground = #929292
$treeCoverDensity = #0D9C0D
$treeCoverLoss = #FF6398
$treeCoverGain = #6C69E8
$activeFires = #EB5100
$burnScars = #CE2A1F
$wetlands = #96FAE1
$majorDams = #C9B3D8
$sediment = #A69164
$arid = #EBA000
$wetlands = #96FAE1
$waterStress = #ED9000
$historicLoss = #FFFF66

//- Font colors
$grayFont = #6F6F6F

//- Highlight colors
$lightGrayHighlight = #EEE
$lightGrayBorder = #e5e5df

//- Regular colors
$lightGray = #AAA
$darkGray = #555
$selectionGray = #f2f2f2

//- Sharing colors
$facebookBlue = #36589F
$twitterBlue = #568DCE
$googleRed = #D9502B
$landsatSprite = 'http://www.globalforestwatch.org/assets/basemaps-sdd18a411a3-5bf18f445e58b8766f773184b7741c67.png'

//- Report Colors
$reportTableBackground = #F7F7F7
$reportTableRow = #F6F8F8
