doctype
html
  head
    title #{defaultTitle}
    include meta.jade
    block styles
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,300')
  body
    include svg.jade
    block content
    block esri-script
