doctype
html
  head
    title #{defaultTitle}
    include meta.jade
    block append styles
      style
        :stylus
          @require 'css/google-fira'
  body
    include svg.jade
    block content
    block esri-script
