doctype
html
  body.tundra
    include jade/svg.jade
    #root
    div#share-modal.modal-wrapper.hidden
    script(id='lucas' src='http://alpha.blueraster.io.s3.amazonaws.com/gfw-mapbuilder/library-load/js/library.js')
    //- script(src="1.1.10/js/library.js")
    //- script(src="js/library.js")
    
    
    script.
      var ll = new MapBuilder({
        el: 'root', //We need a div ID, not a class
        config: {
          language: 'en',
          title: 'Lucas Fake Application',
          labels: {
            en: {
              title: 'New for our Application from our config',
              subtitle: 'New subbb'
            }
          }
        },
        version: "#{version}"//,
        //base: "#{base}"
      });
