extends jade/layout.jade

block append styles
  style
    :stylus
      @require 'css/report'

  link(rel='stylesheet', href='http://js.arcgis.com/#{esriVersion}/esri/css/esri.css')

block append content
  div.report.inner
    header.report-header.flex
      div.report-header__logo-container
        a#logo-anchor
          img#logo.report-header__logo
      div.report-header__title-container
        div#report-title.report-header__title
        div#report-subtitle.report-header__subtitle
    h3#feature-title.feature-title
    div#map.map
    div#popup-content.popup-content
    div.results-container#tc-loss
    div.results-container#lc-loss
    div.results-container#bio-loss
    div.results-container#intact-loss
    div.results-container#lc-composition
    div.results-container.results__loss-badge.hidden#total-loss-badge
      div.results__loss-gain--label
      div.results__loss-gain--range
      span.results__loss--count
      span.results__loss--unit Ha
    div.results-container.results__gain-badge.hidden#total-gain-badge
      div.results__loss-gain--label
      div.results__loss-gain--range
      span.results__gain--count
      span.results__gain--unit Ha
    div.results-container.results__fires-badge.hidden#fires-badge
      div.results__fires-pre
      div.results__fires-count
      div.results__fires-active
      div.results__fires-post

block append esri-script
  script.
    var base = location.href.replace(/\/[^/]+$/, '');
    var dojoConfig = {
      parseOnLoad: false,
      async: true,
      packages: [
        { name: 'js', location: base + 'js' },
        { name: 'vendor', location: base + 'vendor' },
        { name: 'utils', location: base + 'js/utils' },
        { name: 'report', location: base + 'js/report' },
        //- { name: 'stores', location: base + 'js/stores' },
        //- { name: 'actions', location: base + 'js/actions' },
        { name: 'constants', location: base + 'js/constants' }
        //- { name: 'components', location: base + 'js/components' }
      ],
      aliases: [
        ['resources', 'js/resources'],
        //- ['alt', 'vendor/alt/dist/alt.min'],
        //- ['react', 'vendor/react/react.min'],
        //- ['react-dom', 'vendor/react/react-dom.min'],
        ['babel-polyfill', 'vendor/babel-polyfill/browser-polyfill']
      ],
      deps: ['dojo/domReady!'],
      callback: function () {require(['#{reportMain}']);}
    };
  //- PROD: if new modules are added, regenerate the JSAPI build
  script(src='//js.arcgis.com/o/RobertW/GFW-MapBuilder-0.1.0/dojo/dojo.js', async)
  //- DEV: Use the normal JSAPI
  //- script(src='//js.arcgis.com/#{esriVersion}/init.js', async)
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
